# Виртуальное окружение
venv/
__pycache__/

# Логи
logs/
*.log

# Статусы (если не хотите версионировать)
statuses.json

# IDE / macOS
.vscode/
.DS_Store

# артефакты
project.zip
.env
__pycache__/
*.py[cod]